<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CVRM每日媒体监测 | Daily media monitoring report</title>
  <style>
    input, select {
      margin: 2px 0;
    }
    td {
      padding: 0;
    }
  </style>
  <script src="vue.min.js"></script>
  <script src="clipboard.min.js"></script>
</head>
<body style="margin: 0; padding: 0;">
  <div id="app" style="position: relative; width: 100%; height: 100vh;">
    <!-- 预览 -->
    <div style="position: absolute; height: 100vh; overflow-x: hidden; overflow-y: scroll;">
      <div style="width: 794px; height: 424px; background-image: url(./cover.png); background-size: cover; position: absolute; top: 30px; left: 30px; z-index: 200;">
        <div style="position: relative; z-index: 300; top: 310px; left: 70px; color: #fefefe; font-weight: 400;">
          <p>{{date}}</p>
        </div>
      </div>
      <div ref="preview" style="position: relative; width: 854px; box-sizing: border-box;">
        <table style="width: 854px; border: 0; border-spacing: 0; background-color: #E4DFEC; border-collapse: collapse; font-size: 16px;">
          <tr>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td colspan="6" style="height: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
          </tr>
          <tr style="height: 424px;">
            <td ></td>
            <td colspan="8"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" style="height: 30px;"></td>
          </tr>
          <!-- 汇总开始 -->
          <tr style="height: 42px; background: #8B0051; color: #ffffff;font-weight: bold;">
            <td style="background-color: #E4DFEC;"></td>
            <td></td>
            <td colspan="3">汇总<span style="color: #000000;"> | Summary</span></td>
            <td colspan="3">数量<span style="color: #000000;"> | Volume</span></td>
            <td></td>
            <td style="background-color: #E4DFEC;"></td>
          </tr>
          <tr style="height: 30px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6"></td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="background-color: #ffffff; height: 42px; color: #000000;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="3">
                <b><span style="color: #8B0051;">心血管</span> | CV</b>
            </td>
            <td colspan="3">
                <b>{{cv_sum}}</b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="background-color: #ffffff; height: 42px; color: #000000;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="3">
              <b><span style="color: #8B0051">代谢</span> | DM</b>
            </td>
            <td colspan="3">
              <b>{{dm_sum}}</b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="background-color: #ffffff; height: 42px; color: #000000;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="3">
                <b><span style="color: #8B0051;">肾病</span> | Renal</b>
            </td>
            <td colspan="3">
                <b>{{ckd_sum}}</b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="background-color: #ffffff; height: 42px; color: #000000;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="3">
                <b><span style="color: #8B0051;">企业新闻</span> | Corporate News</b>
            </td>
            <td colspan="3">
                <b>{{corporate_sum}}</b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="background-color: #ffffff; height: 42px; color: #000000;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="3">
                <b><span style="color: #8B0051;">行业政策新闻</span> | Industry News</b>
            </td>
            <td colspan="3">
                <b>{{industry_sum}}</b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr style="height: 30px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6"></td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- 汇总结束 -->
          <!-- CV 开始 -->
          <tr v-if="cv_sum" style="background-color: #8B0051; height: 42px; color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6">
              <b>心血管<span style="color: #000000;"> | CV</span></b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr v-if="cv_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tbody v-for="(e, ei) in cv_drugs" :key="e.name+'-'+ei">
            <tr v-if="e.articles.length" style="height: 42px; background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6" style="color: #8B0051;"><b>{{e.name}}</b></td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
            <tr v-if="e.articles.length" style="background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6">
                <div v-for="(a, ai) in e.articles" :key="e.name+'-'+ai" style="margin: 30px 0;">
                  <p><b><a :href="a.link" target="_blank">{{a.title}}</a></b></p>
                  <p><b>{{a.media}}<span style="color: #ffffff;">------------</span>{{a.publish}}<span style="color: #ffffff;">------------</span>相似文章共{{a.related}}篇</b></p>
                  <p>{{a.abstract}}</p>
                </div>
              </td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
          </tbody>
          <tr v-if="cv_sum" style="height: 42px; background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td colspan="8"></td>
              <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- CV 结束 -->
          <!-- DM 开始 -->
          <tr v-if="dm_sum" style="background-color: #8B0051; height: 42px; color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6">
              <b>代谢<span style="color: #000000;"> | DM</span></b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr v-if="dm_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tbody v-for="(e, ei) in dm_drugs" :key="e.name+'-'+ei">
            <tr v-if="e.articles.length" style="height: 42px; background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6" style="color: #8B0051;"><b>{{e.name}}</b></td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
            <tr v-if="e.articles.length" style="background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6">
                <div v-for="(a, ai) in e.articles" :key="e.name+'-'+ai" style="margin: 30px 0;">
                  <p><b><a :href="a.link" target="_blank">{{a.title}}</a></b></p>
                  <p><b>{{a.media}}<span style="color: #ffffff;">------------</span>{{a.publish}}<span style="color: #ffffff;">------------</span>相似文章共{{a.related}}篇</b></p>
                  <p>{{a.abstract}}</p>
                </div>
              </td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
          </tbody>
          <tr v-if="dm_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- DM 结束 -->
          <!-- CKD 开始 -->
          <tr v-if="ckd_sum" style="background-color: #8B0051; height: 42px; color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6">
              <b>肾病<span style="color: #000000;"> | Renal</span></b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr v-if="ckd_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tbody v-for="(e, ei) in ckd_drugs" :key="e.name+'-'+ei">
            <tr v-if="e.articles.length" style="height: 42px; background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6" style="color: #8B0051;"><b>{{e.name}}</b></td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
            <tr v-if="e.articles.length" style="background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6">
                <div v-for="(a, ai) in e.articles" :key="e.name+'-'+ai" style="margin: 30px 0;">
                  <p><b><a :href="a.link" target="_blank">{{a.title}}</a></b></p>
                  <p><b>{{a.media}}<span style="color: #ffffff;">------------</span>{{a.publish}}<span style="color: #ffffff;">------------</span>相似文章共{{a.related}}篇</b></p>
                  <p>{{a.abstract}}</p>
                </div>
              </td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
          </tbody>
          <tr v-if="ckd_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- CKD 结束 -->
          <!-- Corporate 开始 -->
          <tr v-if="corporate_sum" style="background-color: #8B0051; height: 42px; color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6">
              <b>企业新闻<span style="color: #000000;"> | Corporate News</span></b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr v-if="corporate_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tbody v-if="corporate_sum">
            <tr v-for="(e, ei) in corporate" :key="e.title+'-'+ei" style="background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6">
                <div style="margin: 30px 0;">
                  <p><b><a :href="e.link" target="_blank">{{e.title}}</a></b></p>
                  <p><b>{{e.media}}<span style="color: #ffffff;">------------</span>{{e.publish}}</b></p>
                  <p>{{e.abstract}}</p>
                </div>
              </td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
          </tbody>
          <tr v-if="corporate_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- Corporate 结束 -->
          <!-- Industry 开始 -->
          <tr v-if="industry_sum" style="background-color: #8B0051; height: 42px; color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td></td>
            <td colspan="6">
              <b>行业政策新闻<span style="color: #000000;"> | Industry News</span></b>
            </td>
            <td></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tr v-if="industry_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <tbody v-if="industry_sum">
            <tr v-for="(e, ei) in industry" :key="e.title+'-'+ei" style="background-color: #ffffff;">
              <td style="background-color: #e4dfec;"></td>
              <td></td>
              <td colspan="6">
                <div style="margin: 30px 0;">
                  <p><b><a :href="e.link" target="_blank">{{e.title}}</a></b></p>
                  <p><b>{{e.media}}<span style="color: #ffffff;">------------</span>{{e.publish}}</b></p>
                  <p>{{e.abstract}}</p>
                </div>
              </td>
              <td></td>
              <td style="background-color: #e4dfec;"></td>
            </tr>
          </tbody>
          <tr v-if="industry_sum" style="height: 42px; background-color: #ffffff;">
            <td style="background-color: #e4dfec;"></td>
            <td colspan="8"></td>
            <td style="background-color: #e4dfec;"></td>
          </tr>
          <!-- Industry 结束 -->
          <tr>
            <td colspan="10" style="height: 30px; text-align: center; font-size: 12px;">如有任何建议，请联系CVRM公关及传播业务伙伴Edith Tan (<a href="mailto:edith.tan@astrazeneca.com">edith.tan@astrazeneca.com</a>)</td>
          </tr>
          <tr>
            <td colspan="10" style="height: 30px;"></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- 操作 -->
    <div style="background-color: #eeeeee; position: fixed; z-index: 5; top: 0; right: 0; width: calc(100% - 854px); height: 210px; padding: 14px; box-sizing: border-box;">
      <input type="text" v-model="date" placeholder="日期" style="width: 40%;">
      <br>
      <select v-model="category" v-on:change="handleChange" style="width: 40%;">
        <option disabled>分类</option>
        <option value="2">心血管</option>
        <option value="0">代谢</option>
        <option value="1">肾病</option>
        <option value="4">企业新闻</option>
        <option value="3">行业政策</option>
      </select>
      <select v-model="drug" style="width: 40%;">
        <option :value="i.toString()" :key="i.toString()" v-for="(e, i) in options">{{e}}</option>
      </select>
      <input type="text" v-model="link" placeholder="链接" style="width: 100%;">
      <input type="text" v-model="title" placeholder="标题" style="width: 100%;">
      <input type="text" v-model="media" placeholder="来源媒体" style="width: 30%;">
      <input type="text" v-model="publish" placeholder="发布日期" style="width: 30%;">
      <input type="number" v-model="related" placeholder="相关文章数" style="width: 10%;">
      <input type="text" v-model="abstract" placeholder="摘要" style="width: 100%;">
      <div style="margin-top: 12px;">
        <button v-on:click="handleSubmit">提交</button>
        <button id="copy" ref="copy" data-clipboard-text="" data-clipboard-action="copy">复制代码</button>  
      </div>
    </div>
    <!-- 列表 -->
    <div style="font-size: 12px; background-color: #f8f8f8; position: absolute; right: 0; top: 210px; width: calc(100% - 854px); height: calc(100vh - 210px); padding: 14px; box-sizing: border-box; overflow-y: scroll;">
      <div v-if="cv_sum">
        <h3>心血管CV</h3>
        <div v-for="(drug, drug_index) in cv_drugs" :key="drug_index">
          <div v-if="drug.articles.length">
            <em>{{drug.name}}</em>
            <ul>
              <li v-for="(article, article_index) in drug.articles" :key="article.title+'-'+article_index">
                <span>{{article.title}}</span>
                <button data-drug="cv_drugs" :data-index1="drug_index" :data-index2="article_index" v-on:click="handleDelete">×</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="dm_sum">
        <h3>代谢DM</h3>
        <div v-if="drug.articles.length" v-for="(drug, drug_index) in dm_drugs" :key="drug_index">
          <div v-if="drug.articles.length">
            <em>{{drug.name}}</em>
            <ul>
              <li v-for="(article, article_index) in drug.articles" :key="article.title+'-'+article_index">
                <span>{{article.title}}</span>
                <button data-drug="dm_drugs" :data-index1="drug_index" :data-index2="article_index" v-on:click="handleDelete">×</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="ckd_sum">
        <h3>肾病Renal</h3>
        <div v-if="drug.articles.length" v-for="(drug, drug_index) in ckd_drugs" :key="drug_index">
          <div v-if="drug.articles.length">
            <em>{{drug.name}}</em>
            <ul>
              <li v-for="(article, article_index) in drug.articles" :key="article.title+'-'+article_index">
                <span>{{article.title}}</span>
                <button data-drug="ckd_drugs" :data-index1="drug_index" :data-index2="article_index" v-on:click="handleDelete">×</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="corporate_sum">
        <h3>企业Corporate</h3>
        <div>
          <ul>
            <li v-for="(article, article_index) in corporate" :key="article.title+'-'+article_index">
              <span>{{article.title}}</span>
              <button data-drug="corporate" :data-index2="article_index" v-on:click="handleDelete">×</button>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="industry_sum">
        <h3>行业Industry</h3>
        <div>
          <ul>
            <li v-for="(article, article_index) in industry" :key="article.title+'-'+article_index">
              <span>{{article.title}}</span>
              <button data-drug="industry" :data-index2="article_index" v-on:click="handleDelete">×</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    const clipboard = new ClipboardJS('#copy');
    clipboard.on('success', function(e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);

      e.clearSelection();
    });

    clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });

    window.onbeforeunload = function (e) {  
      e = e || window.event;  
      if (e) {  
        e.returnValue = '关闭提示';  
      }  
      return '关闭提示';  
    };  

    const app = new Vue({
      el: '#app',
      data: {
        date: '',
        category: '2',
        drug: '0',
        title: '',
        link: '',
        media: '',
        publish: '',
        related: 1,
        abstract: '',
        cv_drugs: [
          { 
            name: '血脂康-本品',
            articles: []
          },
          {
            name: '倍林达|Brilinta-本品',
            articles: []
          }, {
            name: '泰嘉|Generic-竞品',
            articles: []
          }, {
            name: '波立维|Plavix-竞品',
            articles: []
          }, {
            name: '泰仪|Generic-竞品',
            articles: []
          }, {
            name: '阿斯利康『一包药』',
            articles: []
          }, {
            name: '可定|Crestor-本品',
            articles: []
          }, {
            name: '瑞旨|Generic-竞品',
            articles: []
          }, {
            name: '托妥|Generic-竞品',
            articles: []
          }, {
            name: '益适纯|Ezetrol-竞品',
            articles: []
          }, {
            name: '京诺|Generic-竞品',
            articles: []
          }, {
            name: '立普妥|Lipitor-竞品',
            articles: []
          }, {
            name: '倍他乐克|Betaloc -本品',
            articles: []
          }, {
            name: '康忻|Concor-竞品',
            articles: []
          }, {
            name: '博苏|Generic-竞品',
            articles: []
          }, {
            name: 'CPC 胸痛中心',
            articles: []
          },{
            name: '信立泰『全心关爱』',
            articles: []
          }, {
            name: '赛诺菲『心起点』',
            articles: []
          }, {
            name: '辉瑞『急溶急P包』',
            articles: []
          }
        ],
        dm_drugs: [
          {
            name: '安达唐|Forxiga-本品',
            articles: []
          }, {
            name: '欧唐静|Glyxambi-竞品',
            articles: []
          }, {
            name: '欧唐宁|Trajenta-竞品',
            articles: []
          }, {
            name: '万格列净|Generic-竞品',
            articles: []
          }, {
            name: '怡可安|Invokana-竞品',
            articles: []
          }, {
            name: '安立格|Kombiglyze-本品',
            articles: []
          }, {
            name: '捷诺达|Janumet-竞品',
            articles: []
          }, {
            name: '安立泽|Onglyza-本品',
            articles: []
          }, {
            name: '捷诺维|Januvia-竞品',
            articles: []
          }, {
            name: '拜糖平|Glucobay-竞品',
            articles: []
          }, {
            name: 'SGLT2 入江苏医保',
            articles: []
          }, {
            name: 'MMC 标准化代谢性疾病管理中心',
            articles: []
          }
        ],
        ckd_drugs: [
          {
            name: '爱瑞卓|Roxadustat-本品',
            articles: []
          }, {
            name: '益比奥|EPIO-竞品',
            articles: []
          }, {
            name: '克隆怡宝|Generic-竞品',
            articles: []
          }, {
            name: '依普定|Generic-竞品',
            articles: []
          }, {
            name: '美信罗|Mircera-竞品',
            articles: []
          }
        ],
        industry: [],
        corporate: []
      },
      computed: {
        options: function () {
          return this.category == '0'
            ? this.dm_drugs.map(function (e) {
              return e.name;
            })
            : this.category == '1'
              ? this.ckd_drugs.map(function (e) {
                return e.name;
              })
              : this.category == '2'
                ? this.cv_drugs.map(function (e) {
                return e.name;
                })
                : []
        },
        cv_sum: function () {
          return this.cv_drugs.reduce(function (acc, cur) {
            return acc + cur.articles.length; 
          }, 0);
        },
        dm_sum: function () {
          return this.dm_drugs.reduce(function (acc, cur) {
            return acc + cur.articles.length; 
          }, 0);
        },
        ckd_sum: function () {
          return this.ckd_drugs.reduce(function (acc, cur) {
            return acc + cur.articles.length;
          }, 0);
        },
        industry_sum: function () {
          return this.industry.length;
        }, 
        corporate_sum: function () {
          return this.corporate.length;
        }
      },
      methods: {
        handleChange: function () {
          this.drug = '0';
        },
        handleSubmit: function () {
          const item = {
            category: this.category,
            drug: this.drug,
            article: {
              title: this.title,
              link: this.link,
              media: this.media,
              publish: this.publish,
              related: this.related,
              abstract: this.abstract
            }
          }

          if (item.category == '0') {
            this.dm_drugs[item.drug].articles.push(item.article);
          } else if (item.category == '1') {
            this.ckd_drugs[item.drug].articles.push(item.article);
          } else if (item.category == '2') {
            this.cv_drugs[item.drug].articles.push(item.article);
          } else if (item.category == '3') {
            this.industry.push(item.article);
          } else {
            this.corporate.push(item.article);
          }

          this.title = '';
          this.link = '';
          this.media = '';
          this.publish = '';
          this.related = 1;
          this.abstract = '';
        },
        handleDelete: function (e) {
          const drug = e.target.dataset.drug;
          const index1 = e.target.dataset.index1 || -1;
          const index2 = e.target.dataset.index2;
          
          if (index1 == -1) {
            this[drug].splice(index2, 1)
          } else {
            this[drug][index1].articles.splice(index2, 1);
          }
        }
      },
      updated: function () {
        const left = '<!DOCTYPE html><html lang="zh-CN"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>CVRM每日媒体监测 | Daily media monitoring report</title></head><body>';
        const right = '</body></html>';
        this.$refs.copy.setAttribute("data-clipboard-text", left + this.$refs.preview.innerHTML + right);
      }
    })
  </script>
</body>
</html>